/*styles for assignment 3*/

body {
    background-image: url("book.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
}

p{
	font-size: 20px;
	color: #000080;
}

strong{
	font-size: 30px;
}